<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bitacora Estimado</h4>
                <h6 class="card-subtitle">Documento excel</h6>
                <img src="">
                <input type="file">
                <br>
                <br>

                <button type="button" class="btn btn-danger btn-block waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Cargar documento
                </button>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bitacora Real</h4>
                <h6 class="card-subtitle">Documento excel</h6>
                <img src="">
                <input type="file">
                <br>
                <br>

                <button type="button" class="btn btn-danger btn-block waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Cargar documento
                </button>

            </div>
        </div>
    </div>

</div>