<div class="row" class="table">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vuelo</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Cliente</th>
                        <th>Clave</th>
                        <td>Clase</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>251</td>
                        <td><span class="label label-success">MIA</span> </td>
                        <td><span class="label label-danger">MEX</span> </td>
                        <td>AU</td>
                        <td>AU/KMIA</td>
                        <td>MIA</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>251</td>
                        <td><span class="label label-success">MIA</span> </td>
                        <td><span class="label label-danger">MEX</span> </td>
                        <td>AU</td>
                        <td>AU/KMIA</td>
                        <td>MIA</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>251</td>
                        <td><span class="label label-success">MIA</span> </td>
                        <td><span class="label label-danger">MEX</span> </td>
                        <td>AU</td>
                        <td>AU/KMIA</td>
                        <td>MIA</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>251</td>
                        <td><span class="label label-success">MIA</span> </td>
                        <td><span class="label label-danger">MEX</span> </td>
                        <td>AU</td>
                        <td>AU/KMIA</td>
                        <td>MIA</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>251</td>
                        <td><span class="label label-success">MIA</span> </td>
                        <td><span class="label label-danger">MEX</span> </td>
                        <td>AU</td>
                        <td>AU/KMIA</td>
                        <td>MIA</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>251</td>
                        <td><span class="label label-success">MIA</span> </td>
                        <td><span class="label label-danger">MEX</span> </td>
                        <td>AU</td>
                        <td>AU/KMIA</td>
                        <td>MIA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>